.text-center{
    background-color: black;
    text-align: center;
    width: 100%;
}
h1{
    color: white;
    padding: 20px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  .h2{
      color: black;
  }