.navbar {
  background: black;
}
.navbar-right a{
    color: white !important;
}
button {
  border-radius: 10px;
}
.container .navbar-brand {
  font-weight: 700;
}
.navbar-brand {
  color: #0096ff;
  font-size: 25px;
}
.togs{
    background-color: white !important;
}
