.navbar {
  background: rgb(184, 231, 246);
}
.navbar-right a{
    color: black !important;
    font-weight: ;
}
button {
  border-radius: 10px;
}
.container .navbar-brand {
  font-weight: 700;
}
.navbar-brand {
  color: #0096ff;
  font-size: 25px;
}
.navbar-toggler{
    background-color: white;
}
